<h1>Offered Tasks</h1>

<% @creatorSearch.each do |t| %>
    <ul>
	<li><%= t.name %></li>
	<ul>
	    <li><%= t.duration%></li>
	</ul>
    </ul>
<% end %>

<h1>Accepted Tasks</h1>

<% @workerSearch.each do |t| %>
    <ul>
	<li><%= t.name %></li>
	<ul>
	    <li><%= t.duration%></li>
	</ul>
    </ul>
<% end %>
