<p>
    <strong>Name:</strong>
    <%= @task.name %>
</p>

<p>
    <strong>Duration:</strong>
    <%= @task.duration %>
</p>


<%= form_for @task, url: { action: "apply" } do |f| %>
    <%= f.submit 'Apply for this task' %>
<% end %>
