<div class="spacer"></div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 jumbotron">
    <h2><strong>Contact Ease Singapore</strong></h2>
    <p>
      For general enquiries, you can easily reach us at:
    </p>
    <p>
      <li>Email: customer@ease.co</li>
      <li>Phone: +84332259</li>
    </p>
  </div>
</div>i
