<div id="carousel-main-page" class="carousel slide" data-ride="carousel" data-interval="1000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-main-page" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-main-page" data-slide-to="1"></li>
    <li data-target="#carousel-main-page" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="main-page-images" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/6-tips-for-mastering-the-dog-walk.jpg?itok=fE6fY3xl" alt="...">
      <div class="carousel-caption">
      	<h3>Dog can't walk itself?</h3>
        <p>
          Let our dedicated dog walkers take care of it for you!
        </p>
      </div>
    </div>
    <div class="item">
      <img class="main-page-images" src="https://cdn-sg.theasianparent.com/wp-content/uploads/2013/05/shutterstock_56838976.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>Need someone to take care of your child?</h3>
          <p>
            Let our pool of verified babysitters give you a piece of mind!
          </p>
      </div>
    </div>
    <div class="item">
      <img class="main-page-images" src="https://www.helpling.com.sg/assets/static/sg_video_poster-11bb71b25f735c7cba4190424416eb422e72c0c65d82405a76d7e6bd7198d639.jpg" alt="...">
      <div class="carousel-caption">
      	<h3>No time to clean?</h3>
        <p>
          Hand it over to our cleaning professionals and take the rest that you deserve!
        </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-main-page" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-main-page" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div> <!-- Carousel -->

      <!-- Three columns of text below the carousel -->
      <div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Pet Sitters</h2>
      <p>Placeholder text</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Babysitters</h2>
      <p>Placeholder text</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>House Cleaners</h2>
      <p>Placeholder text</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!-- /.row -->
<!-- Generate Tasks Available -->
<!-- End of Generating Tasks Available -->
